# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit specific
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Model files (keep only final_model.pkl in /models/)
*.pkl
!models/final_model.pkl

# Ngrok files
ngrok.log

# Environment / config files
*.env
